<a href="https://colab.research.google.com/github/Vedantrip/Vedantrip/blob/main/Practical_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To swap two number

In [ ]:
x = input("enter a number")
y = input("enter a number")

x, y = y, x
print("x =",x)
print("y =",y)

enter a number12
enter a number14
x = 14
y = 12

To Calculate the area and taking the input from the user

In [ ]:
l=int(input("Length : "))
w=int(input("Width : "))
area=l*w
perimeter=2*(l+w)
print("Area of Rectangle : ",area)
print("Perimeter of Rectangle : ",perimeter)

Length : 12
Width : 13
Area of Rectangle :  156
Perimeter of Rectangle :  50

To calculate the area and Perimeter of Square

In [ ]:
s=int(input("Side : "))
Area=s*s
Perimeter=4*s
print("Area of square : ",Area)
print("Perimeter of square : ",Perimeter)

Side : 12
Area of square :  144
Perimeter of square :  48

To take input of radius from user and then give the Perimeter and Area of a Circle.

In [ ]:
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle:2
Area of a circle = 12.56

Accept the units of electricity consumed by the user and generate the electricity bill based on the following billing criteria:
No of units charges =100 0.50 Re
Above 100 till 200 units 1Re
Above 200 units 2 Rs

In [ ]:
def calculBill(uni):

	if (uni <= 100):
		return (uni * 0.50);
	
	elif (uni <= 200):	
		return (uni * 1);

	elif (uni > 200):
			return (uni * 2);
	
	return 0;
uni = int(input("Enter the Unit of electricity:"));
print('Rs', calculBill(uni));

Enter the Unit of electricity:210
Rs 420

Print the Fibonacci series till the level entered by the user

In [ ]:
def fib(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fib(10)

In [ ]:
#Print all the odd numbers between the range 50 and 100
st, en = 50,99
  
for num in range(st, en + 1):
      
if num % 2 != 0:
   print(num, end = " ")

51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
#Print all the multiples of 5 in the range between 1 to the number entered by the user.
x=int(input("enter the end level"))
print(*range(5, x, 5))

enter the end level 20
5 10 15

In [ ]:
#To check whether the number given by User is Prime number or not
def PrimeChecker(a):  
  
    if a > 1:  
        
        for j in range(2, int(a/2) + 1):  
         
            if (a % j) == 0:  
                print(a, "is not a prime number")  
                break  
     
        else:  
            print(a, "is a prime number")  
   
    else:  
        print(a, "is not a prime number")  
 
a = int(input("Enter an input number:"))  
 
PrimeChecker(a)

Enter an input number:12
12 is not a prime number

In [ ]:
#Question 7(b) 
for i in range (1,6):
    for j in range(1,i+1):
        print(int (j),end="")
    print()

1
12
123
1234
12345

In [ ]:
#Question 7(e)
for i in range (65,70):
    for j in range(65,i+1):
        print(chr(j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
#Question 7(a)
n =5  
for i in range(0, n): 
        for j in range(0, i + 1):  
            print("* ", end="")       
    
        print()

In [ ]:
for i in range(4,0,-1): 
  for j in range(0,i): 
    print(4 - j, end = " ") 
  print()

4 3 2 1
4 3 2
4 3
4

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(1, i+1):
        print(i, end="")
    print()

1
22
333
4444
55555

In [ ]:
#  Print the table of a number entered by the user
num=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

In [ ]:
num=int(input("Enter a number to find factorial: "))
fact=1; 
if num<0:
   print("Negative Integers are not defined in Factorial");
elif(num==0):
    print("The factorial of 0 is 1");
else:
  while(num>0):
        fact=fact*num
        
        num=num-1   
  print("Factorial of the given number is: ")
  print(fact)

Enter a number to find factorial: -12
Negative Integers are not defined in Factorial

In [ ]:
max = int(input(" Please Enter the Maximum Value : "))
total = 0

for num in range(1, max+1):
    if(num % 2 == 0):
        print("{0}".format(number))
        total = total + number

print("The Sum of Even Numbers from 1 to {0} = {1}".format(number, total))

In [ ]:
def count_chars(str):
     upper_ctr, lower_ctr, number_ctr, special_ctr = 0, 0, 0, 0
     for i in range(len(str)):
          if str[i] >= 'A' and str[i] <= 'Z': upper_ctr += 1
          elif str[i] >= 'a' and str[i] <= 'z': lower_ctr += 1
          elif str[i] >= '0' and str[i] <= '9': number_ctr += 1
          else: special_ctr += 1
     return upper_ctr, lower_ctr, number_ctr, special_ctr
           
str = input("Enter the string")
u, l, n, s = count_chars(str)
print('\nUpper case characters: ',u)
print('Lower case characters: ',l)
print('Number case: ',n)
print('Special case characters: ',s)

Enter the stringVedant_isking

Upper case characters:  1
Lower case characters:  11
Number case:  0
Special case characters:  1

In [ ]:
#A programme to Toggle string input of User.

def Togglecharacter(str):
    ln = len(str)
 
    for i in range(ln):
        if str[i] >= 'a' and str[i] <= 'z':
 
             str[i] = chr(ord(str[i]) - 32)
 
        elif str[i] >= 'A' and str[i] <= 'Z':
 
            str[i] = chr(ord(str[i]) + 32)
 
if __name__ == "__main__":
    str = input("Enter your desired String:")
    str = list(str)
 
    Togglecharacter(str)
    str = ''.join(str)
    print(str)

Enter your desired String:cOMPUTER SCIENCE
Computer science

In [ ]:
# Answer for Question Number=>2

heit = float(input("Enter your height (in cm): "))
weit = float(input("Enter your weight (in kg): "))
bmi = weit / (heit/100)**2
print(f"You BMI is {bmi}")

In [ ]:
#Write user defined functions in a menu based python program to calculate= Simple interest
P = int(input("Enter the value for principle:"))
R = int(input("Enter the Vlaue for rate:"))
T = int(input("Enter the value for time(in years):"))
SI = (P * R * T) / 100
print("The simple interest is:", SI)

Enter the value for principle:1000
Enter the Vlaue for rate:2
Enter the value for time(in years):4
The simple interest is: 80.0

In [ ]:
# Converting the time input as seconds and then fgiving out the time in hours/mins/secs

def convert(sec):
	sec = sec % (24 * 3600)
	hour = sec // 3600
	sec %= 3600
	min = sec // 60
	sec %= 60
	
	return "%d hrs and %02d mins and %02d secs" % (hour, min, sec)
	
n =int(input("Enter the time in seconds:"))
print(convert(n))

In [3]:
# 
pr= float(input("Enter the value for principle :"))
rate= float(input("Enter the value for rate :"))
time= float(input("Enter the value for time :"))

CI =  pr * (pow((1 + rate / 100), time)) 
print("The value for Compund Interest is:" ,CI )

Enter the value for principle :1000
Enter the value for rate :2
Enter the value for time :4
The value for Compund Interest is: 1082.43216